<section id="contact">
    <div class="form-wrapper">
        <header class="form-head">
            <h2>Contact</h2>
        </header>
        <form>
            <div class="name-form">
                <label for="name">Name:</label>
                <input type="text" name="name" required>
            </div>
            <div class="email-form">
                <label for="email">Email:</label>
                <input type="email" name="required" required>
            </div>

            <button value="Send" type="submit">Enviar</button>
        </form>
    </div>

</section>