button{
    padding: 1rem 5rem;
    background: #4c6e97;
    border:none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

button:hover{
    background: #27394e;
}
#contact{
    min-height: 100vh;
    background-image: url('./../../../assets/img/contact-mountain.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper{
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: white;
    border-radius: 50px;
}

.form-head{
    text-align: center;
    padding: 4rem;
}

.name-form,
.email-form,
h2{
    padding: 3rem;
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

.form-wrapper label{
    margin: 0rem 3rem;
}

.form-wrapper button{
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-wrapper input{
    padding: 1rem 3 rem;
}
.form-wrapper{
    width: 60%;
}

@media(max-width:932px){
    .form-wrapper{
        width: 90%;
        margin-bottom: 20px;
        // width: min-content;
    }
    h3 {
        text-align: center;
    }

    
}

@media(max-width:500px){

    .form-wrapper{
        width: min-content;
    }
}