*{
    margin: 0px;

}

.main-head{
    background: #131c27;
    color: white;    
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav{
    width: 90%;
    margin: auto;
    min-height: 10vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#logo{
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

.main-head ul li a{
    color: white;
    text-decoration: none;
    transition: all 200ms;
    font-size: 24px;   
    cursor: pointer; 

}

.main-head ul li a:hover{
    color: #37bcf9;
    transform: scale(1.2,1.2);
}