
<div class="main-head">
    <nav>
    <h1 id="logo">Travelly</h1>
    <ul>
        <li><a href="#locations">Start</a></li>
        <li><a (click)="openContact()">Contact</a></li>
        <li><a href="#contact">Option</a></li>
    </ul>
    </nav>
</div>