*{
    text-align: justify;
    padding: 20px;
    background-color: #27394e;
    margin-bottom:20px ;
    width: 450px;
    color: white;
}

h1 {
    text-align: center;
}
button {
    color: white;
    background-color: #4c6e97;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: all 300ms;
    margin: 0px auto;
    margin-left: 5px;
    text-align: center;

}

button:hover {
    background-color: #7e93aa;
    color: white;
    text-shadow: 0px 0px 10px black;
    border-radius: 1px solid black initial
}

p {
    margin-top: 20px;
}

input {
    text-align: center;
}


@media(max-width:930px){
    *{
        width: 85%;
        text-align: justify;;
    
    }
}