<h1>Discount</h1>
<mat-dialog-actions>
    <p>
        Enter your email to get a 50% discount on your first trip and a 25% discount on the second trip.
    </p>
    <input type="email" placeholder="Enter your email" >
    <button mat-button mat-dialog-close mat-dialog-close="false">Close</button>
</mat-dialog-actions>