<app-header></app-header>
<section class="hero">
  <h2>Travel Beyond Limits.</h2><br>
  <h3>Start your travel at an affordable price with Travelly 
      <br>Contact us now bellow.
  </h3>
  <button>Book Now</button>
</section>
<section id="locations">
  <nav class="locations-head">
      <h2>The Perfect travelling Experience.</h2>
      <h3>New York <br>
        it is the most populous city in the United States <br> and one of the most populous in the world.</h3>
  </nav>
</section>
<app-cards></app-cards>
<app-login></app-login>
<app-footer></app-footer>
