// h1 {
//     display: block;
//     width: 70px;
//     height: 60px;
//     font-size: 12px;
//     background-color: red;
//     border: 2px solid black;
//     text-align: center;
//     text-transform: uppercase;
//     margin: 0px auto;
//     line-height: 25px;
//     transition: all 300ms;
//     margin-top: 20px;
    
// }            

// h1:hover{
//     color: white;
//     text-shadow: 0px 0px 5px black;
// }

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 4.8rem;;
}

h3{
    font-size: 30px;
}

button {
    color: white;
    background-color: #4c6e97;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: all 300ms;

}

button:hover {
    background-color: #27394e;
    color: white;
    text-shadow: 0px 0px 10px black;
    border-radius: 1px solid black initial
}

.hero{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),transparent), url("./../../../assets/img/landing-page.jpg");
    color:white;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;

}


#locations{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),transparent),url('./../../../assets/img/new-york-page.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head{
    width: 90%;
    margin: auto;
}

.locations-head h2{
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
}

.locations-head h3{
    padding: 4rem 0rem;
    font-weight: blod;
    background: -webkit-gradient(linear, left top, left bottom, from(#131c27), to(#663b34));
    background: -o-linear-gradient(#131c27, #663b34);
    background: linear-gradient(#131c27, #663b34);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width:930px){
    h2{
        font-size: 30px;
        text-align: center;
    }
}