footer {
    color: white;
    background: rgba(19, 28, 39, 1);
}

footer h5{
    flex: 1 40rem;
}

footer ul{
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper{
    display: flex;
    padding: 20px;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

.footer-wrapper h5:hover{
    color: black;
    
}

@media(max-width:932px){
    .footer-wrapper 
    ul 
    li 
    a {
        margin-left: -23px;
        margin-right: 23px;
    }
}
