
<div class="cards">
    <div class="card">
        <div class="card-icon">
            <img src="./../../../assets/img/icons/route-solid.svg" alt="foto">
            <h2>Routes</h2>
            <p>View Routes. Route Parameters.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-icon">
            <img src="./../../../assets/img/icons/bed-solid.svg" alt="foto">
            <h2>Hotels</h2>
            <p>Find cheap hotels and discounts.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-icon">
            <img src="./../../../assets/img/icons/plane-departure-solid.svg" alt="foto">
            <h2>Travels</h2>
            <p>Discover the best package deals for your holidays.</p>
        </div>
    </div>
</div>
