// img {
//     // border:1px solid white;
//     // box-shadow: 0px 0px 5px black;
//     width: 100px;
//     height: 100px;
//     padding: 20px;
//     margin-top: 20px;
// }

p{
    background-color: white;
    color: black;
}


// .benefits-head{
//     background: #343c44;
//     padding: 3rem;
//     min-height: 30vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     text-align: center;
// }

// .benefits-head h3{
//     padding: 1rem;
// }

.cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    flex: 1 1 10rem;
    min-height: 30vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img{
    max-width: 15%;
    margin: 1rem;

}


.card-icon {
    background-color: #27394e;
    color: white;
}

.card h2,
.card p{
    padding: 1rem;
}

 @media(max-width: 932px ){
    .cards{
        width: 100%;         
     }
}